{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mboka Task API</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to Mboka Task API</h1>
    </header>

    <main>
        <p>This is a demo application for task management.</p>
    </main>

    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
